<p id="notice"><%= notice %></p>
<h1>Список бригад</h1>

<% if session[:filter][:enabled] %>  
  <%= render 'filter' %>
<% else %>
  <%= link_to "Включить фильтр", brigades_path(filtering: "enable") %>
  <br />
  <br />
<% end %>

<% if @brigades.present? %>
<%= render 'order' if @brigades.length > 1 %>
<table>
  <tr>
    <th>Название</th>
    <th>Количество рабочих</th>
    <th>Стоимость</th>
    <th>Страна</th>
    <th>Виды работ</th>
    <th></th>
    <th></th>
  </tr>

<% @brigades.each do |brigade| %>
  <tr>
    <td><%= brigade.title %></td>
    <td><%= brigade.count_of_workers %></td>
    <td><%= number_to_currency(brigade.price) %></td>
    <td><%= brigade.country.title %></td>
    <td><%= brigade.job_list %></td>
    <td><%= link_to 'Изменить', edit_brigade_path(brigade) %></td>
    <td><%= link_to 'Удалить', brigade, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Список бригад пуст.</p>
<% end %>

<br />

<%= link_to 'Новая бригада', new_brigade_path %> | 
<%= link_to 'Список работ', jobs_path %>

