<h1>Список бригад</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Количество рабочих</th>
    <th>Стоимость</th>
    <th>Страна</th>
    <th>Виды работ</th>
    <th></th>
    <th></th>
  </tr>

<% @brigades.each do |brigade| %>
  <tr>
    <td><%= brigade.title %></td>
    <td><%= brigade.count_of_workers %></td>
    <td><%= brigade.price %></td>
    <td><%= brigade.country.title %></td>
    <td><%= brigade.job_list %></td>
    <td><%= link_to 'Изменить', edit_brigade_path(brigade) %></td>
    <td><%= link_to 'Удалить', brigade, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая бригада', new_brigade_path %>
