<h1>Список бригад</h1>

<% if session[:filter][:enabled] %>  
  <%= render 'filter' %>
<% else %>
  <%= link_to "Включить фильтр", brigades_path(filtering: "enable") %>
<% end %>
<br />
<br />
<p>Упорядочить по:</p>

<table>
  <tr>
    <td><%= link_to "увеличению цены", brigades_path(sort: "price") %></td>
    <td><%= link_to "уменьшению цены", brigades_path(sort: "price DESC") %></td>
    <td><%= link_to "увеличению количества рабочих", brigades_path(sort: "count_of_workers") %></td>
    <td><%= link_to "уменьшению количества рабочих", brigades_path(sort: "count_of_workers DESC") %></td>
  </tr>
</table>
<br />
<br />

<table>
  <tr>
    <th>Название</th>
    <th>Количество рабочих</th>
    <th>Стоимость</th>
    <th>Страна</th>
    <th>Виды работ</th>
    <th></th>
    <th></th>
  </tr>

<% @brigades.each do |brigade| %>
  <tr>
    <td><%= brigade.title %></td>
    <td><%= brigade.count_of_workers %></td>
    <td><%= number_to_currency(brigade.price) %></td>
    <td><%= brigade.country.title %></td>
    <td><%= brigade.job_list %></td>
    <td><%= link_to 'Изменить', edit_brigade_path(brigade) %></td>
    <td><%= link_to 'Удалить', brigade, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая бригада', new_brigade_path %>
